// background-position
// background-position-x
// border-bottom-left-radius
// border-bottom-right-radius
// border-color
// border-left
// border-left-color
// border-left-style
// border-left-width
// border-radius
// border-right
// border-right-color
// border-right-style
// border-right-width
// border-style
// border-top-left-radius
// border-top-right-radius
// border-width
// box-shadow
// clear
// direction
// float
// left
// margin
// margin-left
// margin-right
// padding
// padding-left
// padding-right
// right
// text-align
// transition
// transition-property
@mixin margin-left($val: 0) {
  margin-left: $val;
  [dir='rtl'] & {
    margin-left: initial;
    margin-right: $val;
  }
}

@mixin left($val: 0) {
  left: $val;
  [dir='rtl'] & {
    left: initial;
    right: $val;
  }
}

@mixin margin-right($val: 0) {
  margin-right: $val;
  [dir='rtl'] & {
    margin-right: initial;
    margin-left: $val;
  }
}

@mixin right($val: 0) {
  right: $val;
  [dir='rtl'] & {
    right: initial;
    left: $val;
  }
}