$primary-color: #3d77ff;
$error-bg-color: #ffecec;
$error-text-color: #ef2929;
$success-bg-color: #e7fae7;
$success-text-color: #1db740;
$warning-bg-color: #fef0e4;
$warning-text-color: #f88930;
$info-bg-color: #e5efff;
$info-text-color: #3d77ff;
